[core]
  whitespace = trailing-space,space-before-tab, tab-in-indent
  quotestyle = double
  indentstyle = space
  indent_size = 2
  tab_width = 2
  end_of_line = lf

[*.md]
  trim_trailing_whitespace = false

[*.yml]
  indent_size = 2

[*.yaml]
  indent_size = 2

[Makefile]
  indent_style = tab
  indent_size = 4
